:root {
  --gray-100: #f9e6e6; /* Branco levemente avermelhado */
  --gray-200: #f2cdcd;
  --gray-300: #e6a9a9;
  --gray-400: #b36b6b;
  --gray-500: #8c4f4f;
  --gray-600: #663939;
  --gray-700: #402424;
  --gray-800: #291717;
  --gray-900: #140b0b;

  --primary-light: #ff867c; /* Tomate claro */
  --primary: #e53935; /* Tomate */
  --primary-dark: #ab000d; /* Tomate escuro */

  --link-color: #ff6f61;
  --link-hover: #d84315;

  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;

  --text-over-primary: #140b0b;
  --text-over-primary-dark: #f9e6e6;
  --text-over-primary-light: #140b0b;
  --text-over-success: #140b0b;
  --text-over-warning: #140b0b;
  --text-over-error: #f9e6e6;
  --text-over-info: #140b0b;

  --text-default: #f9e6e6;
  --text-muted: #e6a9a9;

  --disabled: #b36b6b;
  --text-disabled: #e6a9a9;
}
