.input {
  border: 0.1rem solid var(--gray-300);
  text-align: left;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  padding: 1.2rem;
  width: 100%;
  background: var(--gray-900);
  box-sizing: border-box;
  outline: none;
  transition: background 0.3s ease, border-color 0.3s ease;
  color: var(--text-default);
}

.input:focus {
  background: var(--gray-800);
  border-color: var(--primary);
  box-shadow: 0 0 0.4rem var(--primary-light);
}

.input::placeholder {
  color: var(--gray-500);
  font-style: italic;
}

.input:disabled {
  background: var(--gray-700);
  cursor: not-allowed;
}

.input:disabled::placeholder {
  color: var(--gray-400);
}
