footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 4rem 2rem;
}

footer a {
	color: var(--info);
	font-size: 1.4rem;
	transition: ease-in-out color 0.3s;
}

footer a:hover {
	color: var(--link-hover);
}

footer .disclaimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-muted);
	font-size: 1.2rem;
	text-align: center;
}